<!DOCTYPE html>
<html lang="en">
<head>
    <title> All about Cal</title>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
      <h1>Search</h1>
      <form action="." method="POST">
          <input type="text" name="text">
          <input type="submit" name="search" value="Search">
      </form>
    </div>
    <div class="container">
      <p>{{ string }}</p>
    <div>
</body>
</html>
