<!DOCTYPE html>
<html>
    <head>
        <title> All about Cal</title>
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
      <div class="nav">
        <div class="container">
          <ul class="pull-left">
            <li><a href="#">Home</a></li>
          </ul>
          <ul class="pull-right">
            <li><a href="#">A-Z Search</a></li>
          </ul>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <h1>All about Cal</h1>
          <p>A comprehensive guide.</p>
        </div>
      </div>

      <div class="learn-more">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Essential</h3>
              <ul>
                <li>BearFacts</li>
                <li>My FinAid</li>
                <li>CalCentral</li>
                <li>bConnected</li>
                <li>Oskicat</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>Registration</h3>
              <ul>
                <li>TeleBears</li>
                <li>Online Schedule of Classes</li>
                <li>ScheduleBuilder</li>
                <li>Course Catalog</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>Life</h3>
              <ul>
                <li>Cal 1 Card</li>
                <li>AirBears2 Key Management</li>
                <li>Dining Hall Menus</li>
                <li>Bear Transit</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
